:root {
    --x: 10;
    --y: 10;
    --size: 64;
    --menu-x: 5;
    --menu-y: 5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
}

#container {
    height: calc(var(--y) * var(--size) * 1px);
    width: calc(var(--x) * var(--size) * 1px);
    /* background: #333; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#pf {
    height: calc(var(--y) * var(--size) * 1px);
    width: calc(var(--x) * var(--size) * 1px);
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    /* display: grid; */
    /* grid-template-columns: repeat(var(--x), calc(var(--size) * 1px)); */
}

.piece {
    border: 1px solid #aaa;
    height: calc(var(--size) * 1px);
    width: calc(var(--size) * 1px);
}

#player {
    height: calc(var(--size) * 1px);
    width: calc(var(--size) * 1px);
    position: absolute;
    top: calc(var(--size) * 4px);
    left: calc(var(--size) * 4px);
    z-index: 1;
}

#player-overlay {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("../gfx/grass2.png");
}

#main-menu {
    background-color: none;
    width: calc(var(--menu-x) * var(--size) * 1px);
    height: calc(var(--menu-y) * var(--size) * 1px);
    background-image: url("../gfx/main-menu-small.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    display: none;
}